<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Login Page</title>
</head>
<body>
<center><font color="#0000FF"><h1><marquee>WELCOME TO STATE BANK OONLINE BANKING</marquee></h1></font>
<font color="red"><h2>Login Page</h2></font>
		<form action='/test_login/' method="GET">
			<table>
				<tr><th>UserName</th><td><input type="text" name='uname'></td></tr>
				<tr><th>password</th><td><input type="password" name='pwd'></td></tr>
				<tr><td><input type="submit" value="Login"></td><td><input type="reset" value="Reset"></td>
				</tr>
			</table>
			New User? &nbsp; <a href='/sign_up/'>SING UP</a> &nbsp;
		</form>
			</center>
</body>
</html>
